<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="m2e-e37" sequenceNumber="13">
<locations>
	<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/eclipse/tools/orbit/downloads/drops/R20120119162704/repository/"/>
	</location>

	<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.jdt.feature.group" />	
		<unit id="org.eclipse.sdk.ide" />
		<repository location="http://download.eclipse.org/releases/indigo"/>
	</location>

</locations>
</target>